<p id="notice"><%= notice %></p>

<h1>Notifiactions</h1>

<table>
  <thead>
  <tr>
    <th >Id</th>
    <th >Title</th>
    <th >Notification</th>
    <th >User</th>
  </tr>
  </thead>

  <tbody>
  <% @notifications.each do |notification| %>
    <tr>
      <td><%= notification.id %></td>
      <td><%= notification.title %></td>
      <td><%= notification.notification.inspect %></td>
      <td><%= notification.user_id %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%#= link_to 'New Notification', new_notification_path %>
